/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.player_container {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.song_list {
	background-color: white;
    list-style-type: none;
    margin: 10px;
	border-radius: 10px;
    text-align: center;
	border: 1px solid black;
}

.song_list li {
    margin-bottom: 10px;
}

.song_list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.song_list a:hover {
    text-decoration: underline;
}

.player_one, .player_two {
    width: 100%;
}
